@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-bebas: "Bebas Neue", cursive;
  --font-lora: "Lora", serif;
  --font-roboto: "Roboto", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
